
body {
    background-image: url('images/bgm.jpeg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signup-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.signup-container h2 {
    margin-bottom: 20px;
    color: #ffffff;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff;
}
.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #007bff;
    border-radius: 3px;
    background-color: #ffffff;
    color: #07010D;
}
.form-group button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
}
.center-button {
    text-align: center;
}
.signup-container .radio{
    color: white;
}
.signup-container .radio input{
    transform: scale(1.5);
    cursor: pointer;
    background-color: rgb(112, 179, 220);
}
.signup-container .radio input:checked{
    cursor: pointer;
    background-color: rgb(222, 49, 104);
}
.signup-container .radio #Student:checked~label[for=Student]{
    color: rgb(112, 179, 220);
}
.signup-container .radio #Teacher:checked~label[for=Teacher]{
    color: rgb(222, 49, 104);
}